.wrapper{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper-circle{
    width: 500px;
    height: 500px;
    background: blue;
    position: relative;
    z-index: 1;
}

#circle{
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}